<header class="header">
  template-reference-variable-value
</header>
<main class="container form">
   
  <section class="changes-container">
    <h4>Change value after click_OK/press_enter</h4>
    <div>
      <input type="text" class="form-control input-name-accept" placeholder="Enter name..." #namePressOk (change)="true">
      <input type="button" class="btn btn-primary button-accept" value="OK">
    </div>
    <div class="name">Hello {{ namePressOk.value }}</div>
  </section>
  <hr>
  <section class="changes-container">
    <h4>Change value after keyDown</h4>
    <input type="text" class="form-control" placeholder="Enter name..." #nameKeydown (input)="true">
    <span class="name">Hello {{ nameKeydown.value }}</span>
  </section>
  <hr>
  <section class="changes-two-way-data-binding">
    <h4>Change value with two way dataBinding</h4>
    <input type="text" class="form-control" placeholder="Enter name..." [(ngModel)]="nameTwoWayDataBinding">
    <span class="name">Hello {{ nameTwoWayDataBinding }}</span>    
  </section>
</main>
